body {
    background-color: #f1f1f1;
    font-family: cursive;
    
}
img.content {
	margin: 0 auto 0 auto;
    
}

.main{
    text-align: center;
    margin: 0;
    padding: 5px;
}

.content{
    padding: 10px;
}
